<footer class="bg-black ph3 pv4 white">

	<div class="mw7 center pt3">

		{{/*  <div class="flex-ns justify-between">  */}}

			<div class="center f6">
				{{/*  <h3 class="f4 b lh-title mb1 primary">Flores Tree Service</h3>  */}}
				<ul class="mb3 flex-ns center justify-evenly pb4">
					<li><a href="/" class="link">Home</a></li>
					<li><a href="/about-us" class="link">About Us</a></li>
					<li><a href="/services" class="link">Our Services</a></li>
					{{/*  <li><a href="/gallery" class="link">Gallery</a></li>  */}}
					{{/*  <li><a href="/post" class="link">Blog</a></li>  */}}
					<li><a href="/contact" class="link">Contact</a></li>
				</ul>
			</div>

			
			{{/*  <div>
				<h3 class="f4 b lh-title mb1 primary">Find out more</h3>
				<ul class="mb3">
					<li><a href="/post/jamaica-blue/" class="link">Latest offers</a></li>
					<li><a href="/contact" class="link">Schedule a consultation</a></li>
				</ul>
			</div>  */}}

			{{/*  <div>
				<h3 class="f4 b lh-title mb2 primary">Social media</h3>
				<ul class="mhn2">
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-facebook") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-twitter") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-instagram") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-vimeo") }}
				</ul>
			</div>  */}}

		{{/*  </div>  */}}
	</div>
	<div class="center tc f6">
		<p class="center tc">Copyright © 2022 Flores Tree Services. All rights reserved. </p>
	</div>

</footer>

{{ partial "svg" . }}

<script src="/app.js"></script>
