<nav data-nav class="white bg-primary primary flex justify-between items-center center divider-grey relative">

	<!-- Logo -->
	<a href="/" class="maa maa-ns ma0-m pa3 db mr4-l h-100 flex-none ht mr4-m">
		{{/*  <h1 class="br0 db mb0 w-100 ht b">Flores Tree Service</h1>  */}}
		<img src="/img/ftrlogo.png" alt="fts logo" class="br0 db mb0 mw4 absolute-l top-0"/>
	</a>

	<!-- Primary Nav -->
	<div data-mobile-menu class="mobile-menu-container">
		<svg viewBox="0 0 100 80" width="40" height="25" class="mobile-menu-icon">
			<rect class="menu-icon-top mobile-menu-inner" width="100" height="8"></rect>
			<rect class="menu-icon-middle mobile-menu-inner" y="30" width="100" height="8"></rect>
			<rect class="menu-icon-bottom mobile-menu-inner" y="60" width="100" height="8"></rect>
		</svg>
	</div>

	<ul class="flex b nav-menu bg-primary white f6 lh-3">
		<li><a href="/about-us" class="pa3 no-underline db">About Us</a></li>

		<li><a href="/services" class="pa3 no-underline db">Our Services</a></li>

		<li><a href="/post" class="pa3 no-underline db">Gallery</a></li>

		<li><a href="/contact" class="pa3 no-underline db">Get a Free Quote</a></li>
	</ul>

</nav>
