<div class="bg-grey-2 pv2 center white flex justify-around">
  {{/*  <div class="center flex justify-around">  */}}
    <div class="flex">
      {{/*  <button class="btn raise">  */}}
        {{/*  <i class="fa fa-phone"></i>  */}}
        <a href="tel: 8179944652" class="btn-s btn raise"><i class="fa fa-phone pa1"></i>Call: 817-994-4652</a>
      {{/*  </button>  */}}
    </div>
      <div class="flex">
        {{/*  <h1>Get a Free Quote</h1>  */}}
        <a href="/contact" class="btn-s btn raise">Book Now</a>
      </div>
  {{/*  </div>  */}}
  </div>
  {{/*  <div class="tc pv3">  */}}
  {{/*  </div>  */}}