{{ define "main" }}

<div class="db">
	<h1 class="tc f4 b pa3 db primary">CONTACT US</h1>
</div>
<div class="ph3 bg-off-white flex flex-column flex-row-ns flex-row-m flex-row-l">
	<div class="center mw6 pv3 pa4">
		{{/* <img src="{{ .Params.logo }}" alt="" class="db w4 center pv4"> */}}

		{{ .Content }}

		<div class="db">
			{{ range .Params.contact_entries }}
			<div class="b db">
				<h4 class="f5 b lh-title mb2 primary">{{ .heading }}:</h4>
				<a href="tel: {{ .number }}">{{ .number }}</a>
				<p class="f6">{{ .text }}</p>
			</div>
			{{ end }}
		</div>
	</div>
	<div class="pa5">
		{{ partial "contact-form" . }}
	</div>

</div>

{{ end }}
