{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title "subtitle" .Params.subtitle) }}

{{ partial "sm-banner" .Params.smbanner "banner"}}

{{ partial "short-text" .Params.blurb}}

{{ partial "2-up" .Params }}

{{ partial "text-and-image" (dict "heading" .Params.values.heading "text" .Params.values.text "buttonText" "Read more" "buttonLink" "/about-us") }}

{{ partial "reviewsCarousel" (dict "reviews" .Params.reviews) }}

{{/*  <div class="pb4 pt4">
  {{ range .Params.testimonials }}
  {{ partial "blockquote" . }}
  {{ end }}
</div>  */}}
{{/*  {{ partial "blog" . }}  */}}

{{ end }}
